<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <b class="navbar-brand">Wiki Scraper</b>
    </div>
  </div>
</nav>

<div class="page-header">
  <h1>Pick a Date</h1>
</div>
<div>
    <input type="text" id="datepicker-date" data-provide='datepicker' >
    <button
      type="button"
      class="btn btn-info"
      id="datepicker-button"
      data-date-format="mm/dd/yyyy">
      Pick a Date
    </button>
</div>
<div class="page-header">
  <h1>Stored Dates</h1>
  <h5>In descending order.</h5>
</div>
 
<table>
  <% @stored_dates.each do |day| %>
    <tr>
      <td><%= link_to day.strftime('%b %d, %Y'), show_date_events_path(day)%></td>
    </tr>
  <% end %>
</table>
<script type="text/javascript">
  $(document).ready(function(){
    function redirect() {
      var date = $('#datepicker-date');
      
    }
    $('#datepicker-button').click(redirect());
  });
</script>