<!DOCTYPE html>
<html>
  <head>
    <title>Date to show?</title>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
      </div>
    </header>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>